mat-card {
  background-color: #eee;
}

.form-field__wrapper,
mat-form-field {
  width: 100%;
}

.form-field__wrapper {
  margin-bottom: 10px;
}

.button__wrapper {
  display: flex;
  justify-content: flex-end;
}
