<mat-card>
  <form [formGroup]="loginForm">
    <div class="form-field__wrapper">
      <mat-form-field>
        <input matInput formControlName="email" placeholder="Email">
        <mat-error>
          <span *ngIf="loginForm.get('email').hasError('email')">
            Please enter a valid email address
          </span>
          <span *ngIf="loginForm.get('email').hasError('required')">
            Please fill out this field
          </span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-field__wrapper">
      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Password">
        <mat-hint align="end">{{ loginForm.get('password').value.length }} / 4</mat-hint>
        <mat-error>
          <span *ngIf="loginForm.get('password').hasError('required')">
            Please fill out this field
          </span>
          </mat-error>
      </mat-form-field>
    </div>
  </form>
  <div class="button__wrapper">
    <button (click)="onLogin()" [disabled]="loginForm.invalid" mat-raised-button color="accent">Login</button>
  </div>
</mat-card>
