mat-toolbar {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: #fff;
  }

  button {
    background-color: #fff;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}


