<mat-accordion>
    <mat-expansion-panel *ngFor="let user of users">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ user.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{ user.email }}</p>
      <div class="buttons">
        <button mat-button color="primary" (click)="onEditUser(user)">Edit</button>
        <button mat-button color="warn" (click)="onDeleteUser(user)">Delete</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
